<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>

  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/f750c88cd4.js" crossorigin="anonymous"></script>
  <link
  href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Italiana&family=Jost&family=Kaisei+Decol&family=Kodchasan&family=Lato&family=Merriweather&family=Montserrat&family=Nunito&family=Poppins&family=Red+Hat+Text&family=Slabo+13px&family=Squada+One&display=swap"
  rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/040a78b437acd0433612f92e61d04a1b?family=Gilroy-Medium" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="style.css" rel="stylesheet">
</head>
<style>

 </style>
<body>
  <div class="big-container container-fluid">
    <div class="container1">
      <div class="header mb-5">
        <div class="inner-header">
          <nav class="navbar d-flex">
            <div class="container-fluid justify-content-between">
              <a class="navbar-brand ms-5 text-white" href="#">
                Vaccination.ng
              </a>
              <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link grey-color" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link grey-color" href="#">Schedule</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link grey-color" href="#">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
              </nav>
           
              <nav class="navbar navbar-expand-lg">
                <div class="form-group collapse navbar-collapse">
                 <button class="btn btn btn-outline-primary btn-lg">Check Status</button>
                </div>
              </nav>
            </div>
          </nav>
        </div>
      </div>
      <div class="main-header mt-5">
        <div class="row justify-content-around align-items-start">
          <div class="d-flex flex-column align-items-start justify-content-center col-xxl-6 row-gap-5">
            <div>
              <p class="color-text header-title">Get Vaccinated. Boost your Immune System</p>
            </div>
            <div>
              <h3 class="text-white text-header-covid">COVID-19 Vaccination Got Easier With, <span class="color-text">Vaccination.ng</span></h3>
            </div>
            <div>
              <p class="text-white">Vaccination.ng will help you find the nearest centre for vaccination, in all 36 states in Nigeria.
              </p>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-info"><a class="text-white" href="#registervaccince">Get Vaccine</a></button>
              <button class="btn btn-lg btn-outline-primary"><a class="text-white" href="#helpcenter">Help Centre</a></button>
            </div>
          </div>
          <div class="col-xxl-6 d-flex justify-content-center align-items-center mt-3">
            <div class="bigimg">
              <img src="image/bigimg-1.png" alt="">
              <div class="img1">
                <img src="image/smallimg-1.png" alt="">
              </div>
              <div class="img2">
                <img src="image/smallimg-2.png" alt="">
              </div>
              <div class="doctor d-flex justify-content-center align-items-center">
              <div class="d-flex column-gap-1">
                <img src="image/doctor1.png" alt="">
                <img src="image/doctor2.png" alt="">
                <img src="image/doctor3.png" alt="">
                <div class="d-flex flex-column justify-content-center text-white">
                  <p class="m-0">20+</p>
                  <p class="m-0 color-text">Specialist</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="header-footer">
        <div class="schedule d-flex">
          <p class="text-white" style="font-family:Arial, FontAwesome;">&#xf017 Schedule your Vaccination</p>
        </div>
        <div class="main-footer-header justify-content-around align-items-center">
          <div class="row align-items-center footer-main">
            <div class="location col-xxl-3 col-md-6 d-flex align-items-center justify-content-center">
              <div class="icon-location me-2">
                <i class="fa-solid fa-lg fa-location-dot" style="color: #6294ea"></i>
              </div>
              <div class="location-text">
                <h5 class="m-0 grey-color">Location</h5>
                <p class="text-white">Ikeja Lagos, Nigeria</p>
              </div>
            </div>
            <div class="date col-xxl-3 col-md-6 d-flex align-items-center justify-content-center">
              <div class="icon-date me-2">
              <i class="fa-solid fa-lg fa-calendar" style="color: #6294ea"></i>
            </div>
            <div class="date-text">
              <h5 class="m-0 grey-color">Date</h5>
              <p class="text-white">29 February, 2022</p>
            </div>
          </div>
            <div class="vaccine col-xxl-3 col-md-6 d-flex align-items-center justify-content-center">
              <div class="icon-vaccine me-2">
              <i class="fa-solid fa-lg fa-shield" style="color: #6294ea"></i>
            </div>
            <div class="vaccine-text">
              <h5 class="m-0 grey-color">Vaccin Type</h5>
              <p class="text-white">Mordena</p>
            </div>
          </div>
            <div class="submit-footer col-xxl-3 col-md-6 d-flex justify-content-center">
              <button class="text-white btn-lg btn btn-info">Submit</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="vaccine-banner container-fluid d-flex align-items-center justify-content-around">
      <img src="image/moderna-logo-1.png" alt="">
      <img src="image/pfizer-2021-1.png" alt="">
      <img src="image/yellow-logo-zeneca-pharmaceutical-industry-brand-1.png" alt="">
      <img src="image/sinovac1336-1.png" alt="">
    </div>

    <div class="d-flex justify-content-center mt-4">
      <div class="check-title-container check">    
      <div class="check-main justify-content-around align-items-center">
        <div class="row align-items-center footer-main">
          <div class="check-title d-flex mb-4">
            <p class="text-white">Check your COVID-19 result on our Database</p>
          </div>
          <div class="col-5">
            <form action="admin/user" method="get">
            <input type="text" class="form-control" placeholder="Okeowo" name="fullName">
          </div>
          <div class="col-5">
            <input type="number" class="form-control" placeholder="NIK Number" name="phone">
          </div>
          <div class="submit-check col-2 d-flex justify-content-center">
            <button class="btn btn-lg btn-outline-primary" type="submit">Check</button>
          </div>
        </form>
          <div class="check-footer mt-3">
            <p class="color-text text-center">Need a certificate for your COVID-19 result? Please click here
            </p>
          </div>
        </div>
       
      </div>
      
    </div>
    </div>

    <div class="vaccine-today mt-5">
      <div class="vaccine-header d-flex align-items-center justify-content-center">
        <div class="d-flex" style="width: 85%">
          <div class="left-content d-flex justify-content-start" style="width: 50%">
            <h3 class="text-white">Why get vaccinated today?</h3>
          </div>
          <div class="right-content  d-flex justify-content-center">
            <p class="grey-color" style="width: 50%">Magna adipiscing at elit at ornare lectus nibh lorem. Ac, sed ac lorem pellentesque vestibulum risus matti. In molestie condimentum malesuada non.</p>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-around column-gap-2 card-all">
        <div class="col-xxl-4 col-md-12 box1 ps-3">
          <i class="fa-solid fa-shield fa-2xl mt-3 pt-2 pb-3" style="color: #4f87e8;"></i>
          <h4 class="color-text mt-3">Protects your immune system against viruses</h4>
          <p class="text-white mt-3" style="width: 65%">Velit ut consectetur mauris, orci amet, faucibus. Sit turpis fringilla ipsum pretium, dictum. Dolor eget vel nulla lorem ac.</p>
          <p class="color-text mt-3 mb-5" style="font-family:Arial, FontAwesome;">Read more &#xf061</p>  
        </div>
        <div class="col-xxl-4 col-md-6 box2 d-flex flex-column justify-content-center row-gap-5">
          <div class="ms-4">
          <i class="fa-solid fa-xl fa-user-group" style="color: #ffffff;"></i>
        </div>
        <div class="ms-4">
          <h4 class="text-white">Minimize the sread of the Virus</h4>
        </div>
        <div class="ms-4">
          <p class="grey-color" style="font-family:Arial, FontAwesome;">Read more &#xf061</p>  
        </div>
        </div>
        <div class="col-xxl-4 col-md-6 box2 d-flex flex-column justify-content-center row-gap-5">
          <div class="ms-4">
            <i class="fa-solid fa-xl fa-temperature-empty" style="color: #ffffff;"></i>
          </div>
          <div class="ms-4">
            <h4 class="text-white">Protect yourself</h4>
          </div>
          <div class="ms-4">
            <p class="grey-color" style="font-family:Arial, FontAwesome;">Read more &#xf061</p>  
          </div>
        </div>
      </div>
    </div>

    <div class="registration">
      <div class="big-container-regis d-flex justify-content-around align-items-center pb-5">
        <div class="row justify-content-center column-gap-5 align-items-center">
        <div class="left-regis col-xxl-6 col-12">
          <div class="regis-tittle" id="registervaccince">
            <h3>Get your vaccine registration today</h3>
          </div>
          <form action="admin/user" method="post" id="registration-form" class="row-gap-3 d-flex flex-column">
          <div class="fullname">
            <label for="">Patient's Full Name</label>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Full name" name="fullName" class="form-control">
          </div>
          <div class="mobile">
            <label for="">Mobile Number</label>
            <p>Notifications for appointment and reminders will be sent to this provided number</p>
          </div>
          <div class="input-group">
            <input type="text" placeholder="phone Number" name="phone" class="form-control">
            <button class="btn btn-info text-white">Verify</button>
          </div>
          <div class="form-group mt-3">
            <button class="btn btn-info text-white form-control" type="submit">Submit</button>
          </div>
          <div class="regis-footer d-flex justify-content-around">
            <div class="registed">
              <p>Already registered?</p>
            </div>
            <div class="check-status">
              <a href="#">Check your status</a>
            </div>
          </div>
        </form>
        </div>
        <div class="right-regis col-xxl-6 col-12 d-flex justify-content-center align-items-center">
          <div class="handvaccine">
            <img src="image/handandvaccine.png" alt="">
          <div class="img-virus">
            <img src="image/virus.png" alt="">
          </div>
          <div class="right-regis-content d-flex justify-content-center align-items-center flex-column">
            <div class="covid">
              <p class="text-white">COVID-19 VACCINE</p>
            </div>
            <div class="verify-status d-flex align-items-center justify-content-center">
              <p class="text-white">VERIFY STATUS</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>

    <div class="prevention pt-3">
      <div class="prevent-title d-flex justify-content-center align-items-center flex-column">
        <div class="text-prevent">
          <p class="text-white">Covid-19 Prevention</p>
        </div>
        <div class="title-prevent">
          <h4 class="text-white"><span class="color-text">COVID-19 </span>Symptoms</h4>
        </div>
        <div class="text-center" style="width: 45%">
          <p class="grey-color">Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis aenean eu velit. Mi vestibulum, ullamcorper venenatis imperdiet augue arcu donec neque.</p>
        </div>
      </div>

      <div class="bottom-prevent d-flex justify-content-around align-items-center">
        <div class="d-flex justify-content-around align-items-center">
        <div class="left-bottom-prevent row-gap-4 d-flex flex-column">
          <div class="card1 d-flex align-items-center">
            <img src="image/corona.png" alt="">
            <p class="color-text">High Fever</p>
          </div>
          <div class="card2 d-flex align-items-center justify-content-start">
            <img src="image/corona.png" alt="">
            <p class="color-text">Loss sense of smell</p></div>
          <div class="card3 d-flex align-items-center">
            <img src="image/corona.png" alt="">
            <p class="color-text">Dry cough</p>
          </div>
        </div>
        <div class="center-bottom-prevent">
          <img src="image/headage-man.png" alt="">
        </div>
        <div class="right-bottom-prevent row-gap-4 d-flex flex-column">
          <div class="card4 d-flex align-items-center">
            <img src="image/corona.png" alt="">
            <p class="color-text">Loss of sense of taste</p>
          </div>
          <div class="card5 d-flex align-items-center justify-content-start">
            <img src="image/corona.png" alt="">
            <p class="color-text">Difficulty Breathing</p></div>
          <div class="card6 d-flex align-items-center">
            <img src="image/corona.png" alt="">
            <p class="color-text">Sore Throat</p>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="feedback pt-5 d-flex flex-column justify-content-center align-items-center">
      <div class="feedback-title d-flex justify-content-center align-items-center flex-column">
        <div class="feedback-name">
          <p class="color-text">FEEDBACK</p>
        </div>
        <div class="feedback-think">
          <h4>What our Patients Think</h4>
        </div>
        <div class="text-center" style="width: 45%">
          <p>Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis aenean eu velit. Mi vestibulum, ullamcorper venenatis imperdiet augue arcu donec neque.</p>
        </div>
      </div>
      <div class="main-feedback row align-items-center justify-content-between">
        <div class="feedback1 col-xl-4 d-flex justify-content-center">
          <div>
          <div class="vaccine-img">
          <img src="image/bigvaccine.png" alt="">
        </div>
          <div class="feedback-card1 d-flex flex-column justify-content-center align-items-center row-gap-5">
          <div class="feedback-avt d-flex column-gap-3 pt-4">
            <div class="me-4">
              <img src="image/person1.png" alt="">
            </div>
            <div class="me-5">
              <p class="name m-0">Oyindamola Maj</p>
              <p>Badagry, Lagos</p>
            </div>
          </div>
          <div class="feedback-content text-center" style="width: 75%">
            <p>“Been stressing about a close centre
              to get the covid-19 vaccine, until
              i tried Vaccination.ng”</p>
          </div>
        </div>
      </div>
        </div>

        <div class="feedback2 col-xl-4 d-flex justify-content-center">
          <div>
          <div class="vaccine-img">
            <img src="image/bigvaccine.png" alt="">
          </div>
          <div class="feedback-card2 d-flex flex-column justify-content-center align-items-center row-gap-5">
          <div class="feedback-avt d-flex column-gap-3 pt-4">
            <div class="me-4">
              <img src="image/person2.png" alt="">
            </div>
            <div class="me-5">
              <p class="name m-0">Okeowo Lekan</p>
              <p>Ikeja, Lagos</p>
            </div>
          </div>
          <div class="feedback-content text-center" style="width: 75%">
            <p>“Got my vaccine very close to my house. Was very easy scheduling an appointment.”</p>
          </div>
        </div>
      </div>
        </div>

        <div class="feedback3 col-xl-4 d-flex justify-content-center">
          <div>
          <div class="vaccine-img">
            <img src="image/bigvaccine.png" alt="">
          </div>
          <div class="feedback-card3 d-flex flex-column justify-content-center align-items-center row-gap-5">
          <div class="feedback-avt d-flex column-gap-3 pt-4">
            <div class="me-4">
              <img src="image/person3.png" alt="">
            </div>
            <div class="me-5">
              <p class="name m-0">Kafaru Temitope</p>
              <p>Obanikoro, Lagos</p>
            </div>
          </div>
          <div class="feedback-content text-center" style="width: 75%">
            <p>“Been stressing about a close centre
              to get the covid-19 vaccine, until
              i tried Vaccination.ng”</p>
          </div>
        </div>
        </div>
      </div>
      </div>

    </div>

    <div class="bottom-page">
      <div class="get-quote d-flex justify-content-center">
        <div class="quote-container d-flex flex-column align-items-center justify-content-center column-gap-4">
          <div class="quote-title">
            <h4 class="text-white">Get a quote</h4>
          </div>
          <div class="quote-p">
            <p class="text-white">Please do enter your email address below</p>
          </div>
          <form action="admin/contact" method="post" id="helpcenter">
             <div class="input-group"> 
              <input type="text" class="form-control" placeholder="Your email" name="email">
              <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer">
          <div class="inner-fotter">
            <nav class="navbar d-flex">
              <div class="container-fluid justify-content-between">
                <a class="navbar-brand ms-5 text-white" href="#">
                  Vaccination.ng
                </a>
                <nav>
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link text-white active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link grey-color" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link grey-color" href="#">Schedule</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link grey-color" href="#">Contact Us</a>
                    </li>
                  </ul>
                </nav>
                <nav>
                  <ul class="nav">
                    <li class="nav-item me-2">
                      <a href="https://www.youtube.com/"><i class="fa-brands fa-xl fa-youtube" style="color: #ffffff"></i></a>
                    </li>
                    <li class="nav-item me-2">
                      <i class="fa-brands fa-xl  fa-instagram" style="color: #ffffff"></i></li>
                    <li class="nav-item me-2">
                      <i class="fa-brands fa-xl  fa-square-x-twitter" style="color: #ffffff"></i></li>
                    <li class="nav-item me-2">
                      <i class="fa-brands fa-xl  fa-square-facebook" style="color: #ffffff"></i></li>
                  </ul>
                </nav>
              </div>
            </nav>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>

          
         