html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
  .big-container{
    background-image: url("image/bg1.png");
  }
  .color-text{
    color: #17C2EC
  }
  .grey-color{
    color: rgba(255, 255, 255, 0.5)
  }
  .bigimg{
    z-index: 0;
  }
  .header-title, .schedule p, .location-text p, .date-text p, .vaccine-text p,
  .check-title p, .check-footer p, .card-all h4, .text-prevent p {
font-family: "Montserrat";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 10px;
  }
  .text-header-covid, .left-content h3, .title-prevent h4{
    font-family: "Montserrat";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .img1{
    z-index: 1;
    position: relative;
    bottom: 330px;
    right: 50px
  }
  .img2{
    z-index: 1;
    position: relative;
    bottom: 450px;
    left: 480px
  }
  .doctor{
    z-index: 1;
    position: relative;
    bottom: 260px;
    left: -40px;
    width: 300px;
    height: 120px;
    border-radius: 15px;
    background-color: #C4C4C433;
  }
  .header-footer, .check{
    width: 85%;
    
  }
  .footer-main{
    background-color: #C4C4C433;
    border-radius: 10px;
  }
  .vaccine-banner{
    background-color: rgba(255, 255, 255, 0.5);
  }
 
  .check-footer, .check-title {
    background-color: rgb(196, 196, 196, 0.1);
  }
  .box1 {
    width: 25%;
    height: auto;
    border-radius: 20px 50px 20px 20px;
    background-color:rgb(196, 196, 196, 0.5);
  }
  .box2{
    width: 17%;
    height: auto;
    padding: 15px;
    border: 1px solid white;
    border-radius: 15px;
  }
  .big-container-regis, .feedback{
    background-color: white;
  }
  .right-regis{
    background-color: #0B153C;
    height: 480px;
    width: 40%;
    border-radius: 20px;
    margin-top: 100px
  }
  .handvaccine img{
    width: 97%
  }
  .img-virus img{
    width: 30%
  }
  .img-virus{
    position: relative;
    bottom: 510px;
    right: 33px
  }
  .right-regis-content{
    position: relative;
    bottom: 300px;
    
  }
  .covid{
    position: relative;
    bottom: 240px;
    left: 20px;
  }
  .verify-status{
    position: relative;
    top: 100px;
    width: 170px;
    border-radius: 10px;
    line-height: 35px;
    background-color: rgb(196, 196, 196, 0.5);
  }
  .handvaccine{
    height: 450px;
  }
  .card1, .card2, .card3, .card4, .card5, .card6{
    width: 100%;
    height: 55px;
    border-radius: 15px;
    background-color: rgb(196, 196, 196, 0.5);
  }
  .card1{
    position: relative;
    bottom: 50px;
    left: 218px
  }
  .card2{
    position: relative;
    top: 30px;
    left: 110px
  }
  .card3{
    position: relative;
    top: 80px;
    left: 40px
  }
  .card4{
    position: relative;
    bottom: 50px;
    right: 177px;
  }
  .card5{
    position: relative;
    top: 30px;
    right: 100px
  }
  .card6{
    position: relative;
    top: 80px;
    right: 37px
  }
  .left-bottom-prevent img, .right-bottom-prevent img{
    position: relative;
    right: 30px
  }
  .left-bottom-prevent p, .right-bottom-prevent p{
    padding: 10px 40px 0px 0px;
  }
  .feedback-card1, .feedback-card3 {
    position: relative;
    bottom: 300px;
    right: 10px;
    width: 400px;
    border-radius: 15px;
    background-color: rgb(196, 196, 196, 0.5);
  }
  .vaccine-img{
    margin-left: 30px
  }
  .feedback{
    height: auto
  }
  .main-feedback{
    width: 100%;
  }
  .feedback-card2{
    position: relative;
    bottom: 300px;
    right: 10px;
    width: 400px;
    border-radius: 15px;
    color: white;
    background-color: #17C2EC
  }
  .quote-container{
    position: relative;
    bottom: 120px;
    border-radius: 15px;
    background-color: #17C2EC;
    width: 40%;
    height: 250px
  }
  .quote-container button{
    background-color: #0B153C;
    border-radius: 0px 15px 15px 0px;
  }
  .navbar-toggler-icon{
    background-color: white;
    border-radius: 5px;
  }
  .regis-title h3, .feedback-think h4, .quote-title h4 {
    font-family: "Montserrat";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .fullname label, .mobile label, .covid p, .verify-status p, .name, .feedback-name, .quote-p p{
    font-family: "Montserrat";
font-size: 20px;
font-style: normal;
font-weight: bold;
line-height: normal;
  }
  @media screen and (min-width: 1024px) and (max-width: 1400px){
    .box1 {
      width: 55%;
      height: auto;
     
    }
    .box2{
      width: 45%;
      height: auto;
      margin: 10px;
      padding-top: 20px;
    }
    .box2 h4{
      font-size: 1rem
    }
    .right-regis {
      background-color: #0B153C;
      height: auto;
      width: 39%;
      border-radius: 20px;
      margin-top: 75px;
    }
    .handvaccine img{
      width: 93%
    }
    .img-virus img{
      width: 30%
    }
      .img-virus {
        bottom: 31rem;
        right: 4.2rem;
    }
    .right-regis-content{
      bottom: 19rem
    }
    .vaccine-banner img{
      width: 25%
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    .vaccine-banner img{
      width: 25%
    }
    .box1 {
      width: 55%;
      height: auto;
     
    }
    .box2{
      width: 45%;
      height: auto;
      margin: 10px;
      padding-top: 20px;
    }
    .box2 h4{
      font-size: 1rem
    }
    .right-regis {
      background-color: #0B153C;
      height: auto;
      width: auto;
      border-radius: 20px;
      margin-top: 75px;
    }
    .handvaccine img{
      width: 93%
    }
    .img-virus img{
      width: 30%
    }
    .img-virus {
      bottom: 30rem;
      right: 3rem;
  }
  .right-regis-content{
    bottom: 19rem;
  }
 .card4 img, .card5 img, .card6 img {
    width: 40%
  }
  .card1 img, .card2 img, .card3 img{
    width: 40%
  }
  .card1, .card2, .card3, .card4, .card5, .card6{
    width: 100%
  }
  .center-bottom-prevent img{
    width: 90%
  }
  .card1{
    bottom: 50px;
    left: 170px
  }
  .card2{
   
    top: 0px;
    left: 85px
  }
  .card3{
   
    top: 50px;
    left: 50px
  }
  .card4{
    bottom: 50px;
    right: 170px
  }
  .card5{
    
    top: 0px;
    right: 85px
  }
  .card6{
    
    top: 50px;
    right: 50px
  }
  }

 
  